# Byte-compiled / cache
__pycache__/
*.py[cod]

# Environment
.venv/
.env

# Data, models and outputs
/data/
/models/
/outputs/
*.keras
*.h5
*.pkl
*.npy

# VSCode
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log


DENSENET121_MODEL
RESNET50_MODEL.py
Training confusion matrix.png
dataset_labels.csv
densenet_confusion matrix.png
labelling.py
model.py
resnet confusion matrix.png
resnettestoutput.png
tempppp.py
train2.py
trainingmodelnew.py
